@import "../../variables.scss";

:host {
    width: 100%;
    display: block;
}

.wrapper {
    padding: 1em;
    margin: 0 auto;

    .container {
        max-width: 1000px;
        margin: 1em auto;
        padding: 1em;
        background-color: #fff;
        border: 1px solid #dadfe1;
    }
}
